@model TaskManagementSystem.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-none">
            @Html.DisplayNameFor(model => model.task_id)
        </dt>

        <dd class="d-none">
            @Html.DisplayFor(model => model.task_id)
        </dd>

        <dt class="d-none">
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd class="d-none">
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
